.options {
  display: flex;
  gap: 16px;
}

.optionsGood {
  background-color: greenyellow;
  border-radius: 4px;
}

.optionsNeutral {
  background-color: orange;
  border-radius: 4px;
}
.optionsBad {
  background-color: red;
  border-radius: 4px;
}
.resetButton {
  background-color: beige;
  border-radius: 4px;
}
