.container {
  width: 660px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: lavender;
  border: solid 2px black;
  border-radius: 8px;
  gap: 16px;
  margin: 16px 16px;
}
